<html>
    <body>
        <div>
            <h1>Inside Dashboard Featured</h1>
            {{message}}
            <span>
                {{receivedData}}
            </span>
            <div *ngIf="!flag">
                <input [(ngModel)]="empName" placeholder="Please enter the employee name"/>
                <input [(ngModel)]="empLocation"
                       placeholder="Please enter the location"/>
                <input type="number" [(ngModel)]="managerId" placeholder="Please enter manager id"/>
                <button [disabled]="flag" (click)="submitData()">Go</button>
            </div>
            <div>
                <span>Displaying {{empName | uppercase}}</span>
                <br/>
                <span>{{empLocation | lowercase}}</span>
                <br/>
                <span>{{managerId | number}}</span>
                <br/>
                <span>{{flag | yesNo}}</span>
                <br/>
                <span>The Start Date : {{startDate | customDate}}</span>
                <br/>
                <span>The Start Date : {{startDate | date : 'dd/MM/yyyy'}}</span>
            </div>
        </div>

        <a routerLink="login" routerLinkActive="active">Login Form</a>

        <a routerLink="registration" routerLinkActive="active">Registration Form</a>
    </body>
</html>
