<html>
<head></head>
<body>
<div>
  <input [(ngModel)]="textMsg" id="text-msg"/>
  <span style="color: brown;">Displaying :{{textMsg}}</span>
</div>
<div>
  <h1>First Angular Application</h1>
  <span class="welcome-txt">Welcome to Angular Learning</span>
  <dash-board [message]="msg" (passDataFromChild)="recivedDataFromChild($event)"></dash-board>
  {{receivedmsg}}
</div>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/results" routerLinkActive="active">Results</a>
</nav>
<router-outlet></router-outlet>
</body>
</html>
